name: Waka Readme

on:
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          # Alterado aqui para usar o seu Personal Access Token
          GH_TOKEN: ${{ secrets.WAKA_TOKEN }} 
          SHOW_OS: "true"
          SHOW_PROJECTS: "true"
          SHOW_TOTAL_CODE_TIME: "true"
          SHOW_LINES_OF_CODE: "true"
