name: Waka Readme

on:
  schedule:
    # Roda às 18:30 UTC
    - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.WAKATIME_TOKEN }}
          SHOW_LINES_OF_CODE: "true"
          SHOW_SHORT_INFO: "false"
          SHOW_PROFILE_VIEWS: "false"
          SHOW_TOTAL_CODE_TIME: "false"
          
  - name: Notificar via Resend
        if: success() # Só envia se o passo anterior deu certo
        run: |
          curl -X POST https://api.resend.com/emails \
            -H "Authorization: Bearer ${{ secrets.RESEND_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{
              "from": "notify@nemik.top",
              "to": "ser4ph4@proton.me",
              "subject": "Waka Readme Atualizado!",
              "html": "✔️<p>As métricas do seu perfil no GitHub foram atualizadas com sucesso em <strong>'$(date)'</strong>!</p>"
            }'
