name: Waka Readme

on:
  schedule:
    # Atualiza a cada 24 horas
    - cron: "0 0 * * *"
  workflow_dispatch: # Permite rodar manualmente

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_OS: "true"
          SHOW_PROJECTS: "true"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_LINES_OF_CODE: "True"
